@import "../pieces/vars";
@import "../pieces/mixins";

#background {
	margin: 0 10%;
	.t4 {
		margin-bottom: 0.5rem;
		}
	div {
		border: 1px solid $white;
		border-right: none;
		border-left: none;
		padding: 3% 0 6%;
		// @include mq(netbook) {
			// padding: 3% 5% 6% 0;
			// }
		}
	p {
		line-height: 1.4;
		max-width: 32.5rem;
		}
	em {
		color: $white;
		}
	figure, p {
		margin-right: 5%;
		}
	figure {
		margin-bottom: 1rem;
		img {
			display: block;
			margin-bottom: 0.5rem;
		}
	}
	figcaption {
		font-style: italic;
		font-size: 0.875rem;
	}
}
#yopablo {
	max-height: 300px;
}
#services, #founded {
	p, li {
		line-height: 1.4;
		max-width: 30rem;
		}
	ul {margin-bottom: 1.5rem;}
}
#founded {
	padding-bottom: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	// font-weight: normal;
	color: $white;
	font-size: 0.875rem;
}