@import "../pieces/vars";
@import "../pieces/mixins";

#contact {
	padding: 5% 10%;
	p {
		line-height: 1.4;
		}
}

#contact-info {
	list-style: none;
	margin-bottom: 3rem;
	li {
		margin-bottom: 0.25rem;
		color: $red;
		&:first-child {
			font-size: 1.5rem;
			}
		}
}

#contact-form {
	span {
		display: block;
		font-size: 0.875rem;
		letter-spacing: 1px;
	}
	input[type="text"], input[type="email"] {
		// height: 2.25rem;
	}
	input[type="text"], input[type="email"], textarea {
		width: 100%;
		@include px(max-width, 250px);
		border-radius: 5px;
		padding: 0.25em 0.5rem;
		font-size: 0.875rem;
	}
	input[type="submit"] {
		padding: 2% 3%;
		font-size: 0.875rem;
		// position: relative;
		// &:after {
		// 	content: "\00a0";
		// 	position: absolute;
		// 	background: tomato;
		// 	top: 0; left: 0;
		// 	width: 100%;
		// }
	}
}


#services {
	margin: 5% 10%;
	@include mq(netbook) {
		margin: 0 10%;
	}
}