@import "../pieces/vars";
@import "../pieces/mixins";

#global-footer {
	padding: 0.25rem 10%;
	background: darken($red, 20%);
	color: $white;
	font-size: 0.75rem;
	position: fixed;
	width: 100%;
	bottom: 0;
	@include flexbox();	
	p {margin: 0;}
}

#home {
	@include flex(1);
}
#legal {
	@include flex(1);
	text-align: right;
}