@import "../pieces/vars";
@import "../pieces/mixins";

#work {
	h2 {
		margin-left: 10%;
		margin-right: 10%;
		}
	// padding-bottom: 1.25rem;
	// @include mq(netbook) {color: darken($white, 50%);}
	// @include transition(color, 0.3s);
	// &:hover {color: darken($white, 40%);}
}
#projects {
	li {
		border-bottom: 1px solid lighten($black, 5%);
		margin-bottom: 2.5rem;
		@include mq(netbook) {
			@include flexbox();
			.project-info {
				@include flex(1);
				margin-right: 5%;
				}
			.screenshots {
				@include flex(3);
				margin-right: 10%;
				}
			}
		} // li
}
// ===================================
.project-info {
	margin: 0 10% 1rem;
	@include px(min-height, 140px);
	p {margin: 0.5rem 0;}
}
.project-role {font-style: italic;}
.project-link {text-decoration: none;}


// ===================================
.screenshot-controls {
	@include flexbox();
	margin: 0 10%;
	padding: 0.5rem 0;
	span {
		@include flex(1);
		font-size: 0.75rem;
		&:last-child {
			text-align: right;
			}
		}
}

.prev:before {
	content: "<<";
	margin-right: 0.25rem;
}
.next:after {
	content: ">>";
}