@import "../pieces/vars";
@import "../pieces/mixins";

#work {
	h2 {
		font-size: 1rem;
		margin: 0 10%;
		}
	padding-bottom: 1.25rem;
	@include mq(netbook) {color: darken($white, 50%);}
	@include transition(color, 0.3s);
	&:hover {color: darken($white, 40%);}
}
// #projects {
// 	@include cf();
// 	img {display: block;}
// 	li {
// 		display: inline-block;
// 		float: left;
// 		width: 100%;
// 		@include transition(width, 0.3s);
// 		@include transition(color, 0.3s);
// 		@include mq(netbook) {
// 			width: 50%;
// 			&:hover {
// 				color: $white;
// 				.project-screenshot:after {
// 					background: rgba(0,0,0,0.5);
// 				}
// 			}		
// 		}
// 		@include mq(desktop) {width: 25%;}
// 	}
// }
// ===================================
.project-info {
	margin: 1rem 10%;
	@include px(min-height, 140px);
	p {margin: 0.5rem 0;}
}
.project-role {font-style: italic;}
.project-link {text-decoration: none;}
.project-screenshot {
	position: relative;
	@include mq(netbook) {
		&:after {
			content: "\00a0";
			position: absolute;
			top: 0; bottom: 0;
			width: 100%;
			background: rgba(0,0,0, 0.8);
			@include transition(background, 0.3s);
			}
		&:hover:after {background: rgba(0,0,0, 0.2) !important;}
	}
}