@import "../pieces/vars";
@import "../pieces/mixins";

#work {
	margin-bottom: 2.5rem;
	h2 {
		display: inline-block;
		margin-left: 10%;
		margin-right: 10%;
		padding-right: 5%;
		}
}
#projects {
	border-bottom: 1px solid $white;
	@include mq(netbook) {
		margin-right: 10%;
		margin-left: 10%;
		}
	li {
		border-bottom: 1px solid lighten($black, 5%);
		margin-bottom: 2.5rem;
		&:last-child {
			border: none;}
		@include mq(netbook) {
			@include flexbox();}
		} // li
}
// ===================================
.project-info {
	margin: 0 10% 1rem;
	@include px(min-height, 140px);
	p {
		margin: 0.5rem 0;}
	@include mq(netbook) {
		@include flex(1);
		order: 2;
		// margin-right: 10%;
		margin-left: 5%;
		}
}
.project-role {font-style: italic;}
.project-link {text-decoration: none;}


// ===================================
.screenshots {
	@include mq(netbook) {
		@include flex(3);
		order: 1;
		// margin-left: 10%;
		}
	}

.screenshot-controls {
	@include flexbox();
	color: darken($white, 40%);
	margin: 0 10%;
	padding: 0.5rem 0;
	@include transition(color, 0.3s);
	&:hover {
		color: darken($white, 25%);}
	span {
		@include flex(1);
		@include hover();
		font-size: 0.75rem;
		&:last-child {
			text-align: right;}
		}
	@include mq(netbook) {
		margin: 0;
		display: block;
		span:last-child {
			margin-left: 5%;}
		}
}

.prev:before {
	content: "<<";
	margin-right: 0.25rem;
}
.next:after {
	content: ">>";
	margin-left: 0.25rem;
}