include ../html/jade-helpers.jade
!!! 5
head
	title about / zapotech
	meta(name="description", content="about / zapotech // a digital development agency - based in albion, new york")
	include ../html/head.jade

body#zapo(data-page="about")
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		include ../html/theme/global-header.jade

		div#main
			article#background
				h2.t4 we &lt;3 technology, code, and design
				div.columns-2
					p web development gets us excited.
						| cool apps get us excited.
						| smartphones, tablets, gaming consoles, arduinos, raspberry pis,
						| open-source projects, projection mapping, augmented reality,
						| 3D printing, all get us excited.
					p why? 
						em because technology can serve any purpose we can imagine.
					figure
						img(src="img/inspiration/tumblr_mw7rklPDzE1rrq848o1_400.gif")
						figcaption MIT's inFORM is a "Dynamic Shape Display" that people can use to interact with digital information in a tangible way.
					p a landscape dominated by desktops has since been flooded with 
						| smartphones, tablets,
						| and gaming consoles that access the web with extra features and capabilities
						| such as touch, geolocation, and retina displays.
						| we will see our world more connected than ever before.
					p one question we keep asking ourselves is.. how do we enrich our physical experience without resorting to a completely 
						| digital solution.
					h3 the web is just the beginning.

				p#founded zapotech was founded by 
					a(href="luis.html") luis rosario.

		include ../html/theme/global-footer.jade

	include ../html/foot.jade
</html>
