include ../html/jade-helpers.jade
!!! 5
head
	title about zapotech
	meta(name="description", content="about zapotech // a digital development agency - based in western new york")
	include ../html/head.jade

body#zapo
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		header#global-header
			hgroup
				h1#site ZAPOTECH
				h2#tagline a digital development agency

		section#main
			article#background
				h2 technology can serve any purpose we need.
				p from entertainment to life-saving
				p i know because i've grown up in it. from my first gaming console (N64) to our first computer (running Windows ME), i've seen the joy and frustration that both can create (joy: beating Donkey Kong 64, frustration: the Blue Screen of Death). gaming consoles, 3D, story-telling (movies, tv shows), ipods, iphones, apps, laptops, raspberry pis, arduino
				p studying New Media Development at RIT threw me into a world of programming and attention to design that i had never been aware of. it was there that i became aware that we are in a time where are imagition is our only limiting factor.
				p technology can be used in more ways than we usually imagine.
				p how do we enrich our physical experience without resorting to a completely digital solution.

				p guilty pleasure: support marijuana legalization in NY

				p we are still at the beginning of a technological rennaissance. digital renaissance?
				p we will see our world more connected than ever before.
					| the web is just the beginning.
			p worked at UNICEF Kosovo Innovations Lab.

				//- p one must continue to learn and embrace the best emerging technologies.
				//- 	| we understand that the success of a website
				//- 	| is dependant on much more than simply writing valid HTML, CSS, and JavaScript.
				//- h3 we strive to produce the best quality work that is accessible where you need it to be, everywhere.

		footer#global-footer
			p#legal zapotech &copy; 2013




	//- include ../html/foot.jade
</html>
