include ../html/jade-helpers.jade
!!! 5
head
	title contact zapotech
	meta(name="description", content="contact zapotech // a digital development agency - based in albion, new york")
	include ../html/head.jade

body#zapo(data-page="contact")
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		include ../html/theme/global-header.jade

		div#main
			section#contact
				h2.t4 let's get in touch
				div.flex
					div#test
						p we'd love to work on your website or any other project you have in mind. no matter the medium, we can help out.
						ul#contact-info
							li hello@zapo.tc
							li 585-520-2068
							li albion, new york

					form#contact-form(action="#", method="post")
						p
							label
								span name
								input(type="text", placeholder="firstname lastname")
						p
							label
								span email
								input(type="email", placeholder="example@email.com")
						p
							label
								span message
								textarea(rows="8", placeholder="hello!")
						input(type="submit", value="send")



			//- section#services
				h2.t4 services

				h3 Strategy
				p Our strategists immerse themselves in the lives of your brand’s potential users, uncovering their motivations and needs. Armed with these game-changing insights, they shape strategies with the power to radically shift behavior.
				ul
					//- li Brand and identity planning
					//- li Innovation workshops
					li User research
					//- li Focus groups and surveys
					//- li Customer journey development
					li Competitive audit
					li Content strategy
					li Persona research and development
					//- li Ethnography
					li Test design
					//- li Product strategy
					//- li Editorial planning
					li Copywriting
					//- li Strategic consulting
					//- li Change management
					//- li Connections planning
					//- li Channel planning
					li Social media strategy
					//- li CRM strategy
					li Mobile strategy
					//- li Data strategy
					li Social listening
					li Trendspotting
					li Website analytics
					//- li Application analytics
					li Social analytics
					//- li Campaign analytics
					//- li Dashboard development and reporting
					li Communications planning
					li Stakeholder interviews
					li Search engine marketing strategy 
					//- (SEO &amp; SEM)

				h3 Design &amp; User Experience
				p Our visual designers and UX specialists work together to create elegant, useful, unique solutions to a wide variety of business challenges.
				ul
					//- li Visual design
					//- li Motion graphics and video
					//- li Branding and identity design
					//- li Style guides
					li Usability testing and research
					li Interaction and service design
					//- li Design studio
					li Information architecture
					li Content strategy
					li User scenarios and persona development
					li Prototyping
					//- li Naming
					//- li UX pattern libraries
					//- li A/B and multivariate testing
					li Wireframing
					//- li Platform design
					//- li Interface design
					//- li Custom typography
				
				h3 Social Media &amp; Content
				p Our social media team engages communities by delivering insight-driven content in an irresistible voice. Through methodical measurement and iteration, they turn audiences into advocates.
				ul
					//- li User Interviews
					//- li Survey development and analysis
					//- li Focus groups
					//- li Guerrilla user research
					li Competitive analysis
					li Best practices analysis
					li Content personas
					li Social presence audit
					li Content strategy
					//- li Channel strategy
					//- li Brand voice guides
					li Visual design style guides
					//- li Integrated social media campaigns
					//- li Editorial calendars
					//- li Cadence crafting
					//- li Business requirements
					//- li Stakeholder interviews
					//- li Goal setting, success metrics and KPIs
					li Strategic ideas, planning and presentation
					//- li Paid social
					li Content creation
					li Editorial strategy
					//- li Video and audio production
					//- li Illustration and photography
					//- li Animation and motion graphics
					li Social copywriting
					li Long-form copywriting (articles, blog posts, scripts)
					li Copy editing
					li Content design
					li Design critique
					//- li Video production
					//- li Management and testing
					//- li Community management
					li Social analytics
					li Social listening
				
				h3 Technology
				p Our technologists are platform agnostic specialists who aren’t afraid to find the best solutions for every business need. Whether it’s building a mobile application, a content-rich responsive website or an internal employee network, our work is built for scale, performance, and longevity.
				ul
					li Responsive development
					li Front-end engineering
					//- li Native application development
					li Technical consulting
					li Web applications
					li API integration
					li Rapid prototyping
					li Quality testing
					//- li E-commerce
					//- li Installation and experience
					//- li Solution architecture
					//- li Pattern library development
					li Content management systems
				
				h3 Data &amp; Analytics
				p This is the era of big data, but we know how overwhelming it can be when confronted with hundreds of variables. That’s why we don’t collect data for data’s sake. Instead, our approach is to make big data feel small by focusing on the small points that make the biggest difference.
				ul
					//- li Data strategy
					li Website analytics
					li Application analytics
					//- li UX and funnel analysis
					//- li Social segmentation
					//- li Social platform and landscape audit
					//- li Sentiment and mentions analysis
					li Content engagement
					li Real time social analysis
					//- li Dashboard development
					//- li Goal setting &amp; benchmarking
					//- li Measurement planning
					//- li Campaign analytics
					//- li SEO keyword analytics
					//- li Customer segmentation &amp; profiling
					//- li Customer lifetime value analysis
					//- li Factor analysis
					//- li Regression analysis
					//- li Predictive modeling
					//- li Econometrics
					//- li ROI modeling
					//- li Direct response modeling
					//- li Survey design and analysis
					li Data visualization
					li Infographics
					//- li Geospatial mapping &amp; catchment analysis
					li Trend spotting

				
		include ../html/theme/global-footer.jade

	include ../html/foot.jade
</html>
