// base styles
@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/base";
@import "pieces/typography";

html, #zapo, .container {
	@include mq(tablet) {
		height: 100%;
	}
}

// site styles
#zapo {
	background: darken($black, 5%);
	background: url('../img/bkgd/1903-1x.jpg');
	color: darken($white, 20%);
	background-size: cover;
	a {
		color: $red;
		@include transition(color, 0.1s);
		&:hover {
			color: lighten($red, 10%);
		}
	}
}
#main, #global-header {
	background:rgba(2,2,2,0.8);
}
#main {
	padding-top: 5%;
	@include transition(padding-top, 0.3s);
	@include mq(netbook) {
		padding-top: 10%;
	}
}
@import "theme/header";
@import "theme/footer";
@import "theme/projects";
@import "theme/manifesto";
@import "theme/contact";