// base styles
@import "pieces/normalize";
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/base";
@import "pieces/typography";
@import "pieces/swipe";

.columns-2 {
	@include mq(netbook) {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

.full-height, #zapo, .container {
	height: 100%;
}


// site styles
a {
	color: $red;
	@include transition(color, 0.1s);
	&:hover {color: lighten($red, 10%);}
	}
#zapo {
	background: darken($black, 5%);
	background: url('../img/bkgd/1903-1x.jpg');
	color: darken($white, 20%);
	background-size: cover;
	&.highres {
		background: url('../img/bkgd/1903-2x.jpg');
		background-size: cover;
		}
	.container {background:rgba(2,2,2,0.8);}
}
#main {
	padding: 5% 0 10%;
	@include transition(padding, 0.3s);
	@include mq(netbook) {
		padding: 10% 0 5%;
		}
}
@import "theme/header";
@import "theme/footer";
@import "theme/work";
@import "theme/manifesto";
@import "theme/contact";
@import "theme/about";