include html/jade-helpers.jade
!!! 5
head
	title zapotech // digital development
	meta(name="description", content="zapotech // a digital development agency - based in albion, new york")
	include html/head.jade

body#zapo(data-page="index")
	a(href="#main", class="assistive-text") Skip to main content
	div.container
		//- header
		include html/theme/global-header.jade

		//- main
		div#main
			article#manifesto
				h2.t4 the web is a digital medium still maturing.
				p#preface what started out as simple, static text files has evolved into fully immersive, reactive experiences.
				h3 adapting to this new medium as it develops is key.
				p learn more <a href="work.html#process">about our process</a>, get <a href="contact.html">in touch</a>, or view our <a href="work.html">previous work</a>.

		//- footer
		include html/theme/global-footer.jade

	include html/foot.jade
</html>
