header#global-header
	hgroup
		h1#site
			a(href="index.html") zapotech
		h2#tagline a digital development agency
	nav#global-nav
		ul
			li
				a(href="about.html") about
			li
				a(href="work.html") work
			li
				a(href="contact.html") contact
